body{
    /* background-color: #f8f4f2; */
    background-image: linear-gradient(to bottom, #405166 0%,#656f6f 100%);
   
} 

#section-one{
    position: relative;
     display: flex;
     justify-content: center;  

}

svg {
    font-family: 'Staatliches', cursive;
    letter-spacing: 0.35em;
  }
  
  svg text {
    font-size: 150px;
    fill: #e55643;
    
    text-shadow: 3px 8px #533d4a; 
    stroke: #111;
    fill-opacity: 1;
    stroke-width: 0;
    stroke-dasharray: 100% 0;
    animation: stroke-offset 3s ease-out;
    transform: translate(0, -180px)
  }
  
  @keyframes stroke-offset {
    0% {
      fill-opacity: 0;
      stroke-width: 0;
      stroke-dasharray: 0% 100%;
    }
    25% {
      stroke-width: 3px;
    }
    50% {
      fill-opacity: 0;
    }
    75% {
      stroke-width: 3px;
    }
    100% {
      stroke-width: 0;
    }
  }

  
#second-h2{
    position: absolute;
    top: 350px;
    
}


h2{
    font-family: 'Staatliches', cursive;
    color: #2b9f5e;
    text-shadow: 3px 8px #533d4a;
    font-size: 50px;
    text-align: center;
    /* position: relative; */
    
} 

#menu{
    position: absolute;
    top: 500px;
    display: flex;
}

#btn{
    padding: 10px 20px;
    color: black;
    font-family: 'Staatliches', cursive;
    font-size: 30px;
    /* background-color: #f8f4f2; */
    border: 3px solid black;
    margin: 20px;
    display: flex-wrap;
}

#btn:hover{
    /* background-color: #f1c83c; */
    color: #f1c83c;
}

#parent{
    display: flex;
    /* position: absolute; */
}
#section-two{
    /* margin-top: 300px; */
    /* background-color: #e1d2e9; */
    height: 50vh;
    width: 50%;
    overflow: auto;
    /* margin-bottom: 50px; */
    /* border: 3px solid black; */
   
}

#section-three{
    /* margin-top: 300px; */
    /* border: 3px solid black; */
    height: 50vh;
    width: 50%;
    /* border: 3px solid #405166; */
    
    
}

#headshot{
    /* display: flex; */
    border-radius: 50%;
    /* margin-right: 200px; */
     height: 200px;
    margin-left: 520px;
    
}

#about-me{
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 30px;
    margin-top: 5px;
   /* margin-left: 150px; */
   width: auto;
   overflow: hidden;
   /* margin-bottom: 200px; */
   text-align: center;
   
}




#table-skills{
   text-align: center;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 30px;
    color: #f1c83c;
    column-count: 4px;
    
}




#project-one{
    font-family: 'PT Sans Narrow', sans-serif;
    /* text-align: center; */
    /* font-size: 30px; */
    /* padding: 10px; */
   max-width: 50%;
   margin: auto;
}

h3{
    font-size: 40px;
    /* text-align: center; */
   
}

/* p{
    font-size: 25px;
    word-break: break-all;
    justify-content: center;
} */

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 20%;
   
  }
  
  .card:hover {
    box-shadow: 0 20px 30px 0 rgba(238, 19, 19, 0.2);
  }

  .card img{
    /* height: auto; */
    /* border-radius: 50%; */
    /* height: 200px; */
    width: 100%;
    text-align: center;
  }
  
  .container {
    padding: 2px 16px;
  }
  .container, #name{
    font-family: 'Staatliches', cursive;
    font-size: 30px;
  }

  .container, #description{
    font-size: 20px;
    font-family: 'PT Sans Narrow', sans-serif;
    margin-top: -20px;
  }

/* #container-img{
    background-image: linear-gradient(90deg, rgba(255,255,255,0) 0, rgba(37, 220, 220, 0.6) 0),url(wordz.png);
    height: 40vh;
    width: 50vw;
    background-size: contain;
     background-repeat: no-repeat;
    margin-bottom: 0; 
    
 }  */

.links{
    /* margin-right: 200px; */
    /* font-size: 55px; */
    padding: 4px 10px 4px;
    color: black;
    font-family: 'Staatliches', cursive;
    font-size: 20px;
    /* background-color: #f8f4f2; */
    border: 3px solid black;
    display: inline-block;

}

.links:hover{
    color: #f1c83c;
}

#section-five{
  text-align: center;
}

#footer-link:hover{
  background-color: #f1c83c;
}